# Ignore Live Data
live_data_sb.json

# Ignore Editor Settings
.vscode/settings.json

# Ignore Credentials in .env File
.env

# Ignore User defined Searches
search.sh

# Ignore Python venv
venv/
**/venv/
**/venv/*

# Ignore Search / Results Data
data/
**/data/
**/data/*

# Ignore Build Folder
build/
**/build/
**/build/*

# Ignore includes from containers-build-tools Library
includes
