#!/bin/bash

###########################################################################################
#################################### DO NOT REMOVE ########################################
###########################################################################################
if [ ${0##*/} == ${BASH_SOURCE[0]##*/} ]; then 
    echo "WARNING"
    echo "This script is not meant to be executed directly!"
    echo "Use this script only by sourcing it."
    echo -e "\n"
    exit 1
fi
###########################################################################################
###########################################################################################
###########################################################################################



########################### YOU CAN EDIT **BELOW** THIS LINE ##############################

# Perform all the Searches we need now
perform_search "search-abcde" "80" "128" "960" "1275"

# Perform all the Searches we need now
perform_search "search-fghij" "80" "128" "960" ""

