#!/bin/bash

###########################################################################################
#################################### DO NOT REMOVE ########################################
###########################################################################################
if [ ${0##*/} == ${BASH_SOURCE[0]##*/} ]; then 
    echo "WARNING"
    echo "This script is not meant to be executed directly!"
    echo "Use this script only by sourcing it."
    echo -e "\n"
    exit 1
fi
###########################################################################################
###########################################################################################
###########################################################################################



########################### YOU CAN EDIT **BELOW** THIS LINE ##############################

# Examples
#perform_search "search-abcde" "80" "128" "960" "1230v3,1275v5"
#perform_search "search-abcde" --price "80" --exclude-tax --ram "128" --ecc --disk-each-size 960 --disk-count 2 --disk-quick --match-cpu "1230,1275" --exclude-cpu "1275v5"
#perform_search "search-abcde" --price "80" --ram "64" --ecc --disk-each-size 960 --disk-count 2 --disk-quick --match-cpu "1230,1275" --exclude-cpu "1275v5"
#perform_search "search-abcde" --price "80" --exclude-tax --ram "64" --ecc --disk-each-size 960 --disk-count 2 --disk-quick --match-cpu "1230,1275" --exclude-cpu "1275v5"
#perform_search "search-abcde" --test-mode --id 2361035 --price "80" --exclude-tax --ram "64" --ecc --disk-quick --disk-quick-each-size 960 --disk-quick-count 2 --match-cpu "1230,1275" --exclude-cpu "1275v5"
#perform_search "search-abcde" --test-mode --id "2361035,2330569" --price "800" --exclude-tax --ram "64" --ecc --disk-quick --disk-quick-each-size 960 --disk-quick-count 2 --match-cpu "1230,1275" --exclude-cpu "1275v5"
#perform_search "search-abcde" --test-mode --id "2361035" --price "800" --exclude-tax --ram "64" --ecc --disk-quick --disk-quick-each-size 960 --disk-quick-count 2 

# Debugging Using JQ
#selectedid="2361035"
#cat ./data/search/live_data_sb.json | jq -r ".server[] | select(.id == ${selectedid})"
#cat ./data/search/live_data_sb.json | jq -r ".server[] | select(.id == 2361035)"